.newArrival {


  .heading {
    font-size: 1.3rem;
    padding-left: 8px;
    border-left: 8px solid var(--main-blue);
    margin-bottom: 10px;
    text-transform: capitalize;
    font-weight: 500;
  }
}