.mainMenu {
  width: 250px;
  box-shadow: 3px 0 12px rgba(0,0,0,0.15);
  border-radius: 0 16px 16px 0;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  background-color: #FFF;

  ul {

    margin: 40px 0 0 40px;

    li {
      margin-bottom: 22px;

      a {
        color: rgb(67, 67, 67);
    
        i, svg {
          color: #c5c5c5;
          width: 20px;
        }
      }
    }
  }

 
}