.addToCart {
  display: flex;
  align-items: center;
  margin-bottom: 30px;

  .inputGroup {
    width: 250px;
    margin-right: 30px;

    button {
      border-radius: 0;
      border: 1px solid var(--soft-gray);
      padding-left: 15px;
      padding-right: 15px;

      &:hover {
        background-color: var(--main-blue);
      } 
    }
  }
}

@media only screen and (max-width: 1024px) {
  .addToCart {
    display: block;

    .btnGroup {
      margin-top: 20px;
    }
  }
}

@media only screen and (max-width: 767px) {
  .addToCart {

    .inputGroup {
      width: 90%;
      margin: 0 auto 15px;
    }

    .btnGroup {
      display: flex;
      justify-content: center;
      margin-top: 0;
    }
  }
}