.productDetail {

  .content {

    padding-left: 30px;

    .productName {
      font-size: 1.5rem;
      margin: 15px 0;
    }
    .inStock {
      display: inline-block;
      background-color: #54d85a;
      color: #FFF;
      text-transform: uppercase;
      font-size: 0.75rem;
      padding: 2px 8px;
      margin-left: 20px;
      font-weight: 500;

      &.out {
        background-color: #e35858;
      }
    }

    .price {
      display: flex;
      align-items: center;
      margin-bottom: 20px;

      p {
        margin-bottom: 0;
        font-size: 1.75rem;
        font-weight: 500;
        margin-right: 15px;
        color: var(--main-blue);
      }

      small {
        position: relative;
        top: 2px;

        s {
          opacity: 0.5;
        }
      }
    }

    .specs {
      font-size: 0.9rem;
      margin-bottom: 30px;

      .title {
        display: block;
        margin-bottom: 10px;
      }

      li {
        opacity: 0.6;
        margin-bottom: 5px;
      }
    }

    .estimated {
      padding: 20px 15px;
      background-color: var(--very-soft-gray);
      font-size: 0.9rem;
      margin-bottom: 20px;

      ul {
        margin-bottom: 0;
      }
    }

  }

}

@media only screen and (max-width: 767px) {
  .productDetail {
    .content {
      padding-left: 0;
    }
  }
}