.pagination {

  border-top-width: 2px;
  border-top-style: solid;
  border-image: var(--primary-gradient) 1;
  margin-top: 15px;
  padding: 10px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 0.84rem;

  .customPagination {

    .pageItem {
      
      &:not(:last-child) {
        margin-right: 5px;
      }

      .pageLink {
        background: transparent;
        border-radius: 0;
        color: var(--foreground);
        font-size: 1.1rem;
        padding: 7px 0;
        border: none;
        box-shadow: none;
      }

      &.active {
        .pageLink {
        
          background: transparent;
          color: #FFF;
          border: none;
        
        }
      }


      

    }

  }
}