.topSelling {
  
  margin-bottom: 70px;

  .rowHeader {
    color: #FFF;
    width: 13%;
    margin-right: 15px;
    padding: 15px 0 0 15px;
    font-size: 1.2rem;
    font-weight: 700;
    text-transform: uppercase;
  }

  .productList {
    width: 87%;
  }

  .campaignBox {
    height: 180px;
    display: flex;
    align-items: center;
    padding-left: 10%;
  }

}

@media only screen and (max-width: 767px) {
  .topSelling {
    .rowHeader {
      width: 100%;
      padding: 15px;
      margin-bottom: 8px;
    }
    .productList {
      width: 100%;
    }
  }
}