.heroSlide {
  margin-top: 10px;

  .box {
    background: #353535;
    color: #FFF;
    height: 100%;
  }

  .firstRow {
    height: 420px;
    display: flex;
    justify-content: space-around;

    .box.left {
      width: 64%;
      border-right: 5px solid #FFF;
      display: flex;
      align-items: center;
      padding-left: 7%;
    }
    .box.right {
      width: 36%;
      display: flex;
      justify-content: center;
      text-align: center;
      align-items: center;
    }
  }

  .secondRow {
    height: 200px;
    margin-top: 5px;
    .box {
      display: flex;
      align-items: center;
      padding-left: 20%;
    }
  }

}

@media only screen and (max-width: 767px) {
  .heroSlide {
    height: auto;
    .firstRow {
      height: auto;
      display: block;
      .box.left, .box.right {
        width: 100%;
        border: none;
      }

      .box.left {
        margin-bottom: 8px;
      }
    }
  }
}