.ourServices {

  margin: 50px 0 70px;

  .container {
    display: flex;
    justify-content: space-around;

    .serviceItem {
      display: flex;
      width: 18%;

      i, svg {
        font-size: 2.2rem;
        margin-top: 5px;
        margin-right: 15px;
        color: var(--main-blue);
      }

      p {
        font-size: 0.85rem;
        color: var(--main-gray);
        line-height: 1.2rem;
        margin: 3px 0 0;
      }

    }
  }

}

.campaignBox {
  height: 180px;
  display: flex;
  align-items: center;
  padding-left: 10%;
}

.heading {
  font-size: 1.3rem;
  padding-left: 8px;
  border-left: 8px solid var(--main-blue);
  margin-bottom: 10px;
  text-transform: capitalize;
  font-weight: 500;
}