.statDataCard {

  .body {

    height: 140px;

    i, svg, .fa {
      font-size: 1.8rem;
      margin-bottom: 5px;
      opacity: 0.5;
    }

    .title {
      display: block;
      opacity: 0.3;
      font-weight: 700;
      font-size: 0.95rem;
      line-height: 1rem;
    }

    .dataValue {
      font-size: 2rem;
    }

  }

}