:root {
  font-family: 'Quicksand', system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  height: 100vh;
  font-family: 'Quicksand';
  font-weight: 500;

  #root {
    height: 100%;

    a {
      text-decoration: none;
      color: #242424;
    }

    h1 {
      font-weight: 700;
    }

    .site-wrapper {
    
      height: 100%;
  
      .main-content {
  
        padding: 90px 50px 70px 300px;
  
      }
  
    }

  }

  

}



